

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right,#298a8a,#78d770);
    color: white;
    
    align-items: center;
}


.header{
    text-align: center;
    
    color: blanchedalmond;
    gap: 20px;
}
.header>h4{
    text-align: center;
    font-size: x-large;
    color: #600101;
    gap: 20px;
    margin-top: 10px;
}

h4{
    color: #2d1f05;
    background-color: aliceblue;
    font-weight: bolder;
    font-size: large;
    align-items: center;
    text-align: center;
   
}

h3:hover{
    cursor: pointer;
}
h5{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: aliceblue;
}
    

p{
    color: darkred;
}
   
.footer>p{
    text-align: center;
    color:black;
    font-size:x-large;
    margin-bottom: 10px;
}

h3{
    margin-bottom: 5px;
    color: black;
}

.form{
    text-align: center;
}


