

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right,#4f4d4d,#f7ef70);
    color: white;
    
    align-items: center;
}


.header{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    gap: 20px;
}
.header>h4{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    gap: 20px;
    font-size: x-large;
    margin-top: 10px;
}

h4{
    color: rgb(255, 107, 1);
    background-color: aliceblue;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    font-size: large
   
}

h3:hover{
    cursor: pointer;
}
h5{
    text-align: center;
    font-weight: bold;
    font-size: larger
}
    

p{
    color: black;
}
   
.footer>p{
    text-align: center;
    color:rgb(255, 0, 0);
    font-size:x-large;
    margin-bottom: 10px;

}

h3{
  margin-bottom: 5px;
}


.form{
    text-align: center;
}
